acquisti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="acquisti">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="acquisto" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id_acquisto"/>
                            <xs:element type="xs:string" name="id_cliente"/>
                            <xs:element type="xs:string" name="nome_pacchetto"/>
                            <xs:element type="xs:string" name="prezzo"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>